* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    font-size: 15px;
    width: 100%;
    justify-content: space-around;
}

header {
    width: 100%;
}

header nav {
    padding: 5px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2px;
    padding: 2px;
}

header nav {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
}

header nav li {
    list-style: none;
    padding: 2px;
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline white;
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

article a {
    color: #0070c9;
    text-decoration: none;
}

article>a:hover {}

footer {
    font-size: 12px;
}

article h3 {
    font-size: 30px;
}

article {
    font-size: 21px;
    width: 75%;
    margin: auto;
}