* {
    /* margin: 0;
    padding: 0; */
    color: black;
}

body {
    width: 100%;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

h1 {
    display: flex;
    font-size: 15px;
    width: 100%;
    justify-content: space-around;
}

header {
    width: 100%;
}

header nav {
    padding: 5px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2px;
    padding: 2px;
}

header nav {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
}

header nav li {
    list-style: none;
    padding: 2px;
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline white;
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

article>a {
    text-decoration: none;
}

.articleLink a {
    color: #0070c9;
    text-decoration: none;
}

footer {
    font-size: 12px;
}

article h3 {
    font-size: 30px;
}

article {
    font-size: 21px;
    width: 75%;
    height: 100vh;
    margin: auto;
    background-color: rgb(250 250 250);
}

.smallArticles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
}

#iPhoneXr {
    background-image: url("https://www.apple.com/v/home/el/images/heroes/iphone-xr/main__bmngiblug0mq_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

footer {
    width: 75%;
    margin: auto;
}

footer>* {
    padding: 10px;
    margin: 5px;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

footer nav li {
    list-style: none;
}

.rights {
    display: flex;
    justify-content: space-around;
}

.rights li {
    list-style: none;
    display: inline;
}

#logoApple {
    height: 30px;
}

.game {
    width: 75%;
}

#life {
    display: inline;
}